*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    text-align: center;
    background-color: orange;
    width: 40vw;
    margin: 0px auto;
    color: black;
    border-radius: 4px;
    padding: 8px 10px;
    @media (width < 550px) {
        width: 70vw;
    }
    margin-block-end: 20px;
}
body{
    background-color: gray;
}
.container{
    text-align: center;
    display: flex;
    justify-content: space-around;
    @media (width < 550px) {
        flex-direction: column;
        gap: 20px;
    }
    font-family: 'digital-7', sans-serif;
    text-shadow: 2px 2px 8px gray;
}
@font-face {
    font-family: digital-7;
    src: url(digital-7.monoitalic.ttf);
}
.column{
    min-height: 100vh;
    @media (width < 550px) {
        min-height: 40vh;
    }
}
.column h1{
    font-size: 4em;   
    margin-block-end: 40px;
    @media (width < 550px) {
        margin-block-end: 10px;
    }
}
.num-container{
    background-color: orange;
    text-align: center;
    padding: 40px;
    color: black;
    margin-block-end: 20px;
    box-shadow: 1px 8px 10px black;
    @media (width < 550px) {
        max-inline-size: 50vw;
        margin: 15px auto;
    }
    border-radius: 4px;
}
.btns button{
    color: black;
    background-color: gray;
    font-size: 1.5em;
    padding: 15px;
    border: orange solid 2px;
    box-shadow: 0px 4px 5px black;
    border-radius: 8px;
}
.btns button:hover{
    background-color: orange;
    color: gray;
}