*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
    background-color: #928dab;
    display: flex;
    justify-content: space-around;
    @font-face {
    font-family: digital-7;
    src: url(digital-7.monoitalic.ttf);
}
}
.column{
    min-height: 100vh;
}
.column h1{
 font-size: 4em;   
 margin-block-end: 50px;
}
.num-container{
    background-color: #1f1c2c;
    text-align: center;
    padding: 40px;
    color: #928dab;
    margin-block-end: 20px;
}
.btns button{
    color: #928dab;
    border: #928dab solid 1px;
    background-color: #1f1c2c;
    font-size: 1.5em;
    padding: 15px;
}
.btns button:hover{
    background-color: #928dab;
    color: #1f1c2c;
    border: #1f1c2c solid 2px;
}