*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #928dab;
}
.container{
    text-align: center;
    display: flex;
    justify-content: space-around;
    @media (width < 550px) {
        flex-direction: column;
        gap: 20px;
    }
}
@font-face {
    font-family: digital-7;
    src: url(digital-7.monoitalic.ttf);
}
.column{
    min-height: 100vh;
    @media (width < 550px) {
        min-height: 40vh;
    }
}
.column h1{
    font-size: 4em;   
    margin-block-end: 40px;
    @media (width < 550px) {
        margin-block-end: 10px;
    }
}
.num-container{
    background-color: #1f1c2c;
    text-align: center;
    padding: 40px;
    color: #928dab;
    margin-block-end: 20px;
    box-shadow: 1px 8px 10px black;
    @media (width < 550px) {
        max-inline-size: 50vw;
        margin: 15px auto;
    }
}
.btns button{
    color: #928dab;
    background-color: #1f1c2c;
    font-size: 1.5em;
    padding: 15px;
    box-shadow: 0px 8px 10px black;
}
.btns button:hover{
    background-color: #928dab;
    color: #1f1c2c;
    border: #1f1c2c solid 2px;
}